/* my style */

@font-face {
font-family:'BWHaasHead';
src:url("http://www.businessweek.com/assets/type/hinted/haas/bwhaasgroteskhead-95black.eot?#iefix") format("eot"),
url("http://www.businessweek.com/assets/type/hinted/haas/bwhaasgroteskhead-95black.woff") format("woff"),
url("http://www.businessweek.com/assets/type/haas/bwhaasgroteskhead-95black.ttf") format("truetype");
font-style:normal;
font-weight:700;
font-stretch:normal
}
    
   #mccann-container {
      width:800px;
    	margin-left:20%;
    	font-family:'BWHaasHead', 'Georgia';
    }
   
  .mccann-intro {
    	font-size: 18px;
    	color:#696969;
    	font-family:'Georgia';
    	width:750px;
    	 }
  

    .email{
    font-weight:bold;
    font-size:18px;
    color:#FF3300;
    font-family:'Georgia';
    }
    
h1 {
      font-size: 36px;
}
    

h2 {
  font-size: 24px;
  line-height: 1.1em;
   color: #FF00FF;
}

h2:hover {
  font-size: 24px;
  line-height: 1.1em;
   color: #00FFFF;
}



