/* my style */

@font-face {
font-family:'BWHaasHead';
src:url("http://www.businessweek.com/assets/type/hinted/haas/bwhaasgroteskhead-95black.eot?#iefix") format("eot"),
url("http://www.businessweek.com/assets/type/hinted/haas/bwhaasgroteskhead-95black.woff") format("woff"),
url("http://www.businessweek.com/assets/type/haas/bwhaasgroteskhead-95black.ttf") format("truetype");
font-style:normal;
font-weight:700;
font-stretch:normal
}
    
    #mccann-main-container {
      width:800px;
    	margin:20px auto;
    	font-family:'BWHaasHead';
    }

	.mccann-header-container {
		width:800px;
    }
    
    .hr {
    	width:800px;
    }
    

    .mccann-page-title {
    	font-size: 54px;
    	text-align: left;
    	color:black;
    	margin: 3px 0;
    	}

    .mccann-intro {
    	font-size: 17px;
    	color:#696969;
    	font-family:'Georgia';
    	width:750px;
    	 }
    	 

    .mccann-container {
    	width: 150px;
    	margin: 10px;
    	padding: 10px;
    	border: 1px solid #CCC;
    	height: 150px;
    	background-color:#F0F4F5;
    	border-radius: 4px;
    	box-shadow: 2px 2px 2px #CCC;
    	text-align:center;
    	font-size:11px;

    }

    	
    
    .mccann-intro a:link { 
	font-weight:bold; !important;
	color: #000;

	}
  	.mccann-intro a:visited { 
  	color: #000; !important;
  	}
  	
  	.mccann-intro a:hover { 
  	color:#FF3300;
  	text-shadow:none;
  	}
  	
  	.mcann-intro a:active { 
  	font-weight:bold;
  	text-decoration:none;
  	 }
  

    .email{
    font-weight:bold;
    font-size:18px;
    color:#FF3300;
    font-family:'Georgia';
    }
    



/**** Base styles ****/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'BWHaasHead', Arial, sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  width:750px;
}

body {
  padding: 20px;
  font-family: 'BWHaasHead', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.7em;
}

h1, h2, h3, p, ul, ol, pre, dl {
  margin-bottom: 0.5em;
}

h1, h2, #super-list, .element, .tagline, #index-list, 
.super-list .link {
  font-family: 'BWHaasHead', Arial, sans-serif;
}

h1, h2, h3 { font-weight: bold; }

h1 {
  font-size: 72px;
  line-height: 1.1em;
  text-align:left;
  color: #000;
}

h2 {
  font-size: 24px;
  line-height: 1.1em;
   color: #FF00FF;
}

h2:hover {
  font-size: 24px;
  line-height: 1.1em;
   color: #00FFFF;
}



em { font-style: italic; }
strong { font-weight: bold; }

blockquote {
  padding-left: 1.0em;
  margin-left: 1.0em;
  border-left: 1px solid #333;
  font-style: italic;
}

/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
html,
body {
  height: 100%;
  
}

#container {
  margin-bottom: 20px;
  margin-left:0px;
  color:#696969;
}

.element {
  width: 110px;
  height: 110px;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 1.0em;
      -moz-border-radius: 1.0em;
          border-radius: 1.0em;
}

.element.writing   { 
	background:#00FFFF;

}
.element.graphics  { 
	background:#FFFF00;

 }


.element * {
  position: absolute;
  margin: 0;
}


.element .name {
  left: 0.5em;
  top:0.5em;
  font-size: 1.05em;
  color: #000;
}

.name a:link, 
a:visited { 
	}
